{% extends 'layout/base.html' %}

{% block title %}GIỎ HÀNG{% endblock %}

{% block content %}
<h1 class="text-center text-success subject">GIỎ HÀNG</h1>

{% if 'cart' in session and session['cart'] %}
<table class="table-content table-striped table-hover">
    <tr style="font-size:15px">
        <th>Mã phòng</th>
        <th>Tên phòng</th>
        <th>Giá/ngày/2 người</th>
        <th>Số lượng</th>
        <th>Ngày nhận</th>
        <th>Ngày trả</th>
        <th></th>

    </tr>
    {% for c in session['cart'].values() %}
    <tr id="room{{ c.id }}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
        <td>
            <div class="form-group">
                <input type="number" class="form-control"
                       min="1"
                       value="{{ c.quantity }}" onblur="updateCart({{ c.id }}, this)"
                       style="width:75px"/>
            </div>
        </td>
        <td>
            <div class="form-group>">
                <input type="datetime-local" class="form-control" style="width:175px"
                       name="checkin_date" value="{{c.checkin_date}}" />
            </div>
        </td>
        <td>
            <div class="form-group>">
                <input type="datetime-local" class="form-control" style="width:175px"
                       name="checkout_date" value="{{c.checkout_date}}" />
            </div>
        </td>
        <td class="button">
            <input type="button" class="btn-submit btn-outline-danger"
                   value="Xóa" onclick="deleteCart({{ c.id }})" style="width:100px"/>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h6>Tổng số phòng đã chọn: <span class="cart-counter">{{ stats.total_quantity }}</span></h6>
    <h6>Tổng tiền: <span id="total-amount">{{ "{:,.0f}".format(stats.total_amount) }}</span> VNĐ/ngày</h6>
</div>

{% if current_user.is_authenticated %}
<input type="button" value="Xác nhận đặt phòng" class="btn-submit btn-success" onclick="reservation()" />
{% else %}
    <a href="{{ url_for('user_signin', next='cart') }}">Đăng nhập để xác nhận đặt phòng...</a>
{% endif %}

{% else %}
<p><i>Không có phòng nào được chọn. Hãy thêm phòng vào giỏ hàng!!!</i></p>
{% endif %}
{% endblock %}