{% extends 'layout/base.html' %}

{% block title %}Thông tin chi tiết phòng{% endblock %}

{% block content %}
<h1 class="subject">{{ room.name }}</h1>

<div class="row">
    <div class="img-fluid col-md-5 col-xs-12">
        <img src="{{room.image}}" alt="{{ room.name }}" class="rounded" style="width:90%" />
    </div>
    <div class="detail col-md-7 col-xs-12" style="color: black;">
        <h2>{{ room.name }}</h2>
        <p>{{ room.description }}</p>
        <h3> {{ "{:,.0f}".format(room.price) }} VNĐ </h3>
        <img >
        <a  href="#" class="btn btn-info" style="display:inline-block"
           onclick="addToCart({{room.id}}, '{{room.name}}', {{room.price}})">Thêm vào giỏ hàng</a>
    </div>
</div>
<hr>

{% if current_user.is_authenticated %}
<div>
    <div class="form-group">
        <textarea class="form-control" id="commentId"
                  placeholder="Nhập nội dung bình luận..."></textarea>
    </div>
    <input type="button" class="btn-submit btn-primary"
           onclick="addComment({{room.id}})"
           value="Bình luận"/>
</div>
{% else %}
<a href="{{ url_for('user_signin', next='room_detail', room_id=room.id) }}">Đăng nhập để bình luận!!!</a>
{% endif %}

<div id="commentArea">
    {% for c in comments %}
    <div class="row">
        <div class="col-md-1 col-xs-4">
            {% if c.user.avatar and c.user.avatar.startswith('https') %}
            <img class="img-fluid rounded-circle" src="{{ c.user.avatar }}" alt="avatar" />
            {% else %}
            <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='images/default.png') }}" alt="avatar" />
            {% endif %}
        </div>

        <div class="comment col-md-11 col-xs-8">
            <p>{{ c.content }}</p>
            <p><em class="my-date">{{ c.created_date }}</em></p>
        </div>
    </div>
    {% endfor %}
</div>

{% if pages > 1 %}
<ul class="pagination">
    {% for idx in range(1, pages+1) %}
    <li class="page-item">
        <a class="page-link" href="{{ url_for('room_detail', room_id=room.id, page=idx) }}">{{ idx }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<script>
    window.onload = function() {
        let d = document.getElementsByClassName('my-date')
        for (let i = 0; i < d.length; i++)
            d[i].innerText = moment(d[i].innerText).locale('vi').fromNow()
    }
</script>
{% endblock %}